.btn.btn-primary{
    color:white; 
    background-color:blue; 
    border-color: peachpuff;

}
.btn.btn-primary:focus{
    color:white; 
    background-color:rgb(3, 250, 65);
    border-color: rgb(205, 255, 24);
}