<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>CSCI6612_Project Pandas Team</title>
	<!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script src="http://d3js.org/topojson.v2.min.js"></script>
</head>

<body>

  <img src="/images/cookingPanter.PNG" style="display: block;margin: 0 auto;"/>
	<div id="selectBar"></div>
	<div style="text-align:center;float:left">
		<div id="map" style="width:80%; height:80%"></div>
	</div>
	<div style="text-align:center;float:left">
		<div id="barChart" style="width:80%; height:80%"></div>
		<div id="cirChart" style="width:80%; height:80%"></div>
	</div>

	<!-- <div id="map"></div> -->
	<!-- <div id='chart1'></div> -->
	<!-- <div id="chart1"></div> -->



	<!-- <script type="text/javascript" src="canada_map.js"></script> -->
	<!-- <script type="text/javascript" src="index.js"></script> -->
</body>

</html>